<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data Collection</title>
    
    <link rel="stylesheets" href="{{url_for('static',filename='CSS/style.css')}}"/>
    <!--<link rel="stylesheet" href="static/CSS/style.css">-->
</head>
<body>
    <h1>This App was developed by Kingsley Edionwe for academic purpose only</h1>
    <h2>User Data Collection</h2>
    <hr>
    <div class="content">
    <form action="/submit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select><br>

        <label for="total_income">Total Income:</label>
        <input type="number" id="total_income" name="total_income" required><br>

        <h3>Expenses</h3>
        
        <label>Utilities:</label><br>
        <input type="number" name="utilities" placeholder="Amount">
        <input type="checkbox" id="utilities"><br>
        <label>Entertainment:</label><br>
        <input type="number" name="entertainment" placeholder="Amount">
        <input type="checkbox" id="entertainment"><br>
        <label>School Fees:</label><br>
        <input type="number" name="school_fees" placeholder="Amount">
        <input type="checkbox" id="school_fee"><br>
        <label>Shopping:</label><br>
        <input type="number" name="shopping" placeholder="Amount">
        <input type="checkbox" id="shopping"><br>
        <label>Healthcare:</label><br>
        <input type="number" name="healthcare" placeholder="Amount">
        <input type="checkbox" id="healthcare"><br>
    <p>
        <input type="submit" value="Submit">
    </p>
        
    </form>
</div>
</body>
</html>